* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

/* Override the background color for autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background-color: var(--autofill-bg) !important;
    -webkit-text-fill-color: var(--autofill-text) !important;
    -webkit-box-shadow: 0 0 0 10000px var(--autofill-bg) inset !important;
    caret-color: var(--autofill-text) !important;
}

/* For Firefox */
input:-moz-autofill,
input:-moz-autofill:hover, 
input:-moz-autofill:focus, 
input:-moz-autofill:active {
    background-color: var(--autofill-bg) !important;
}
